<h2>{{'ADMINISTRATION.FORM.BASIC.TITLE' | translate}}</h2>
<form #basicForm="ngForm" (ngSubmit)="basicForm.valid && submit()">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">

      <div class="form-group">
        <!-- Trade name -->
        <div class="form-group" [ngClass]="{'has-error': !tradeName.valid && (!tradeName.pristine || submitTried)}">
          <label for="tradeName">{{'ADMINISTRATION.FORM.BASIC.TRADENAME.LABEL' | translate}}*</label>
          <input #tradeName="ngModel" class="form-control" type="text" id="tradeName" name="tradeName" placeholder="{{'ADMINISTRATION.FORM.BASIC.TRADENAME.PLACEHOLDER' | translate}}"
            [(ngModel)]="data.tradeName" required>
        </div>

        <!-- Trade address -->
        <div class="form-group" [ngClass]="{'has-error': !tradeAddress.valid && (!tradeAddress.pristine || submitTried)}">
          <label for="tradeAddress">{{'ADMINISTRATION.FORM.BASIC.TRADEADDRESS.LABEL' | translate}}*</label>
          <input #tradeAddress="ngModel" class="form-control" type="text" id="tradeAddress" name="tradeAddress" placeholder="{{'ADMINISTRATION.FORM.BASIC.TRADEADDRESS.PLACEHOLDER' | translate}}"
            [(ngModel)]="data.tradeAddress" required>
        </div>

        <!-- Postal code -->
        <div class="form-group" [ngClass]="{'has-error': !postalCode.valid && (!postalCode.pristine || submitTried)}">
          <label for="postalCode">{{'ADMINISTRATION.FORM.BASIC.POSTALCODE.LABEL' | translate}}*</label>
          <input #postalCode="ngModel" class="form-control" type="text" id="postalCode" name="postalCode" placeholder="{{'ADMINISTRATION.FORM.BASIC.POSTALCODE.PLACEHOLDER' | translate}}"
            [(ngModel)]="data.postalCode" required>
        </div>

        <!-- City -->
        <div class="form-group" [ngClass]="{'has-error': !city.valid && (!city.pristine || submitTried)}">
          <label for="city">{{'ADMINISTRATION.FORM.BASIC.CITY.LABEL' | translate}}*</label>
          <input #city="ngModel" class="form-control" type="text" id="city" name="city" placeholder="{{'ADMINISTRATION.FORM.BASIC.CITY.PLACEHOLDER' | translate}}"
            [(ngModel)]="data.city" required>
        </div>

        <!-- Phone -->
        <div class="form-group" [ngClass]="{'has-error': !phone.valid && (!phone.pristine || submitTried)}">
          <label for="phone">{{'ADMINISTRATION.FORM.BASIC.PHONE.LABEL' | translate}}*</label>
          <input #phone="ngModel" class="form-control" type="text" id="phone" name="phone" placeholder="{{'ADMINISTRATION.FORM.BASIC.PHONE.PLACEHOLDER' | translate}}"
            [(ngModel)]="data.phone" required>
        </div>

        <!-- Cellhone -->
        <div class="form-group" [ngClass]="{'has-error': !cellphone.valid && (!cellphone.pristine || submitTried)}">
          <label for="cellphone">{{'ADMINISTRATION.FORM.BASIC.CELLPHONE.LABEL' | translate}}</label>
          <input #cellphone="ngModel" class="form-control" type="text" id="cellphone" name="cellphone" placeholder="{{'ADMINISTRATION.FORM.BASIC.CELLPHONE.PLACEHOLDER' | translate}}"
            [(ngModel)]="data.cellphone">
        </div>

        <!-- Fax -->
        <div class="form-group" [ngClass]="{'has-error': !fax.valid && (!fax.pristine || submitTried)}">
          <label for="fax">{{'ADMINISTRATION.FORM.BASIC.FAX.LABEL' | translate}}</label>
          <input #fax="ngModel" class="form-control" type="text" id="fax" name="fax" placeholder="{{'ADMINISTRATION.FORM.BASIC.FAX.PLACEHOLDER' | translate}}"
            [(ngModel)]="data.fax">
        </div>

        <!-- Email -->
        <div class="form-group" [ngClass]="{'has-error': !email.valid && (!email.pristine || submitTried)}">
          <label for="email">{{'ADMINISTRATION.FORM.BASIC.EMAIL.LABEL' | translate}}</label>
          <input #email="ngModel" class="form-control" type="email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,}" id="email" name="email" placeholder="{{'ADMINISTRATION.FORM.BASIC.EMAIL.PLACEHOLDER' | translate}}"
            [(ngModel)]="data.email">
        </div>

        <!-- Website -->
        <div class="form-group" [ngClass]="{'has-error': !website.valid && (!website.pristine || submitTried)}">
          <label for="website">{{'ADMINISTRATION.FORM.BASIC.WEBSITE.LABEL' | translate}}</label>
          <input #website="ngModel" class="form-control" type="text" pattern="(http(s)?://)?([\w-]+\.)+[\w-]+(/[\w- ;,./?%&=]*)?" id="website"
            name="website" placeholder="{{'ADMINISTRATION.FORM.BASIC.WEBSITE.PLACEHOLDER' | translate}}" [(ngModel)]="data.website">
        </div>

        <!-- Contact name -->
        <div class="form-group" [ngClass]="{'has-error': !contactName.valid && (!contactName.pristine || submitTried)}">
          <label for="contactName">{{'ADMINISTRATION.FORM.BASIC.CONTACTNAME.LABEL' | translate}}</label>
          <input #contactName="ngModel" class="form-control" type="text" id="contactName" name="contactName" placeholder="{{'ADMINISTRATION.FORM.BASIC.CONTACTNAME.PLACEHOLDER' | translate}}"
            [(ngModel)]="data.contactName" required>
        </div>

      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">


      <!-- Sector -->
      <div class="form-group" [ngClass]="{'has-error': !sector.valid && (!sector.pristine || submitTried)}">
        <label for="sector">{{'ADMINISTRATION.FORM.BASIC.SECTOR.LABEL' | translate}}</label>
        <select #sector="ngModel" class="form-control" id="sector" name="sector" [(ngModel)]="data.sector" required>
        <option *ngFor="let sector of sectors" [value]="sector.id">{{sector.label}}</option>
      </select>
      </div>

      <!-- Subsector -->
      <div class="form-group" [ngClass]="{'has-error': !subSector.valid && (!subSector.pristine || submitTried)}">
        <label for="subsector">{{'ADMINISTRATION.FORM.BASIC.SUBSECTOR.LABEL' | translate}}</label>
        <select #subSector="ngModel" class="form-control" id="subsector" name="subsector" [(ngModel)]="data.subSector" required>
        <option *ngFor="let subSector of (subSectors | subSector:data.sector)" [value]="subSector.id">{{subSector.label}}</option>> 
      </select>
      </div>

      <!-- Description -->
      <div class="form-group" [ngClass]="{'has-error': !subSector.valid && (!subSector.pristine || submitTried)}">
        <label for="description">{{'ADMINISTRATION.FORM.BASIC.DESCRIPTION.LABEL' | translate}}</label>
        <textarea #description="ngModel" class="form-control" name="description" id="description" cols="30" rows="10" placeholder="{{'ADMINISTRATION.FORM.BASIC.DESCRIPTION.PLACEHOLDER' | translate}}"
          [(ngModel)]="data.description"></textarea>
      </div>

      <!-- Downtown -->
      <div class="customCheckbox">
        <div class="customCheckbox-success">
          <input type="checkbox" name="downtown" id="downtown" [(ngModel)]="data.downtown">
          <label for="downtown">{{'ADMINISTRATION.FORM.BASIC.DOWNTOWN.LABEL' | translate}}</label>
        </div>
      </div>

      <!-- PRM access -->
      <div class="customCheckbox">
        <div class="customCheckbox-success">
          <input type="checkbox" name="prmAccess" id="prmAccess" [(ngModel)]="data.PRMAccess">
          <label for="prmAccess">{{'ADMINISTRATION.FORM.BASIC.PRMACCESS.LABEL' | translate}}</label>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <button class="btn btn-success btn-lg col-lg-3 col-md-3 col-sm-6 col-xs-6 pull-right" type="submit" (click)="trySubmit()">{{'ADMINISTRATION.FORM.NEXT' | translate}}</button>
  </div>

</form>