<form role="form" #legalForm="ngForm" (ngSubmit)="legalForm.valid && submit()">
  <div class="row">

    <div class="col-lg-6 col-md-6 col-sm-6">
      <!-- Legal Entity -->
      <div class="form-group" [ngClass]="{'has-error': !legalEntity.valid && (!legalEntity.pristine || submitTried)}">
        <label for="legalEntity">{{'ADMINISTRATION.FORM.LEGAL.LEGALENTITY.LABEL' | translate}}*</label>
        <input #legalEntity="ngModel" class="form-control" type="text" id="legalEntity" name="legalEntity" placeholder="{{'ADMINISTRATION.FORM.LEGAL.LEGALENTITY.PLACEHOLDER' | translate}}"
          [(ngModel)]="data.legalEntity" required>
      </div>

      <!-- BCE VAT number -->
      <div class="form-group" [ngClass]="{'has-error': !ecbVatNumber.valid && (!ecbVatNumber.pristine || submitTried)}">
        <label for="ecbVatNumber">{{'ADMINISTRATION.FORM.LEGAL.ECBVATNUMBER.LABEL' | translate}}*</label>
        <input #ecbVatNumber="ngModel" class="form-control" type="text" id="ecbVatNumber" name="ecbVatNumber" placeholder="{{'ADMINISTRATION.FORM.LEGAL.ECBVATNUMBER.PLACEHOLDER' | translate}}"
          [(ngModel)]="data.ecbVatNumber" required>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">

      <!-- Name & firstname of representative -->
      <div class="form-group" [ngClass]="{'has-error': !representativeName.valid && (!representativeName.pristine || submitTried)}">
        <label for="representativeName">{{'ADMINISTRATION.FORM.LEGAL.REPRESENTATIVENAME.LABEL' | translate}}*</label>
        <input #representativeName="ngModel" class="form-control" type="text" id="representativeName" name="representativeName" placeholder="{{'ADMINISTRATION.FORM.LEGAL.REPRESENTATIVENAME.PLACEHOLDER' | translate}}"
          [(ngModel)]="data.representativeName" required>
      </div>

      <!-- Phone of representative -->

      <div class="form-group" [ngClass]="{'has-error': !representativePhone.valid && (!representativePhone.pristine || submitTried)}">
        <label for="representativePhone">{{'ADMINISTRATION.FORM.LEGAL.REPRESENTATIVEPHONE.LABEL' | translate}}*</label>
        <input #representativePhone="ngModel" class="form-control" type="text" id="representativePhone" name="representativePhone" placeholder="{{'ADMINISTRATION.FORM.LEGAL.REPRESENTATIVEPHONE.PLACEHOLDER' | translate}}"
          [(ngModel)]="data.representativePhone" required>
      </div>

      <!-- Phone of representative -->
      <div class="form-group" [ngClass]="{'has-error': !representativeEmail.valid && (!representativeEmail.pristine || submitTried)}">
        <label for="representativeEmail">{{'ADMINISTRATION.FORM.LEGAL.REPRESENTATIVEEMAIL.LABEL' | translate}}*</label>
        <input #representativeEmail="ngModel" class="form-control" type="text" id="representativeEmail" name="representativeEmail" placeholder="{{'ADMINISTRATION.FORM.LEGAL.REPRESENTATIVEEMAIL.PLACEHOLDER' | translate}}"
          [(ngModel)]="data.representativeEmail" required>
      </div>

    </div>

  </div>
  <hr>

  <div class="row">
    <button class="btn btn-primary btn-lg col-lg-3 col-md-3 col-sm-6 col-xs-6" (click)="goPrevious()">{{'ADMINISTRATION.FORM.PREVIOUS' | translate}}</button>
    <button class="btn btn-success btn-lg col-lg-3 col-md-3 col-sm-6 col-xs-6 pull-right" type="submit" (click)="trySubmit()">{{'ADMINISTRATION.FORM.FINISH' | translate}}</button>
  </div>
</form>