<div class="container">
    <div class="stepwizard">
        <div class="stepwizard-row">
            <div class="stepwizard-step">
                <button type="button" class="btn btn-circle btn-primary" (click)="nextStep(1)">1</button>
                <p>{{'ADMINISTRATION.WIZARD.BASIC' | translate}}</p>
            </div>
            <div class="stepwizard-step">
                <button type="button" class="btn btn-circle" [disabled]="step < 2" [ngClass]="{'btn-default': step < 2 , 'btn-primary': step >= 2}"
                    (click)="nextStep(2)">2</button>
                <p>{{'ADMINISTRATION.WIZARD.ADDITIONAL' | translate}}</p>
            </div>
            <div class="stepwizard-step">
                <button type="button" class="btn btn-default btn-circle" [disabled]="step < 3" [ngClass]="{'btn-default': step < 3 , 'btn-primary': step >= 3}"
                    (click)="nextStep(3)" disabled>3</button>
                <p>{{'ADMINISTRATION.WIZARD.MEDIA' | translate}}</p>
            </div>
            <div class="stepwizard-step">
                <button type="button" class="btn btn-default btn-circle" [disabled]="step < 4" [ngClass]="{'btn-default': step < 4 , 'btn-primary': step >= 4}"
                    (click)="nextStep(4)" disabled>4</button>
                <p>{{'ADMINISTRATION.WIZARD.LEGAL' | translate}}</p>
            </div>
        </div>
    </div>

    <div [ngSwitch]="step">
        <app-basic *ngSwitchCase="1" [data]="model.step1" (next)="nextStep(2)"></app-basic>
        <app-additional *ngSwitchCase="2" [data]="model.step2" (next)="nextStep(3)" (previous)="nextStep(1)"></app-additional>
        <app-media *ngSwitchCase="3" [data]="model.step3" (next)="nextStep(4)" (previous)="nextStep(2)"></app-media>
        <app-legal *ngSwitchCase="4" [data]="model.step4" (next)="save()" (previous)="nextStep(3)"></app-legal>
    </div>
</div>