<div *ngIf="model?.step1?.tradeName">
  <div class="orange top-20">
    <div class="container">
      <div class="row">
        <img class="col-lg-2 col-md-2 col-sm-3 col-xs-12" src="{{model.step3.logo}}" alt="logo">
        <h1>{{model?.step1?.tradeName}} - {{model?.step1?.sector}} - {{model?.step1?.subSector}}</h1>
      </div>

    </div>
  </div>

  <div class="container top20">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
      Photos
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <p>
        {{model?.step1?.description}}
      </p>

    </div>
  </div>

  <div class=" orange top20">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 top20">
          <p *ngIf="model.step1.website"><img src="../assets/images/world-web.png" width="20" alt="world web"> {{model?.step1?.website}}</p>
          <br>
          <p><img src="../assets/images/old-phone.png" width="20" alt="old phone"> {{model?.step1?.phone}}</p>
          <p *ngIf="model.step1.cellphone"><img src="../assets/images/phone.png" width="20" alt="phone"> {{model?.step1?.cellphone}}</p>
          <p *ngIf="model.step1.fax"><img src="../assets/images/printer.png" width="20" alt="fax"> {{model?.step1?.fax}}</p>
          <p *ngIf="model.step1.email"><img src="../assets/images/close-envelope.png" width="20" alt="envelope"> {{model?.step1?.email}}</p>
          <p>{{model?.step1?.nameContact}}</p>
          <br>
          <p><img src="../assets/images/place.png" width="20" alt="place"> {{model?.step1?.tradeAddress}}</p>
          <p>{{model?.step1?.postalCode}} {{model?.step1?.city}}</p>
          <p *ngIf="model.step1.PRMAccess"><img src="../assets/images/handicap.png" width="20" alt="place"> {{'ADMINISTRATION.FORM.BASIC.PRMACCESS.LABEL' | translate}}</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 top20">
          <p *ngIf="model.step2.holidayFrom && model.step2.holidayTo">
            <img src="../assets/images/calendar.png" width="20" alt="envelope"> {{'ADMINISTRATION.FORM.ADDITIONAL.HOLIDAYS'
            | translate}} {{'ADMINISTRATION.FORM.ADDITIONAL.HEADERSHOURS.FROM' | translate}} {{model?.step2?.holidayFrom}}
            {{'ADMINISTRATION.FORM.ADDITIONAL.HEADERSHOURS.TO' | translate}} {{model?.step2?.holidayTo}}
          </p>
          <p>{{model?.step2?.holidayComment}}</p>
          <button type="btn button">{{model?.step2?.CTAButton}}</button>
        </div>
        <div class="hidden-lg hidden-md hidden-sm clearfix"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="business-hours">
            <h2 class="title">{{'ADMINISTRATION.FORM.ADDITIONAL.TYPEHOUR.OPENINGHOURS' | translate}}
            </h2>
            <ul class="list-unstyled opening-hours">
              <li *ngFor="let day of model.step2.week">{{day.label | translate}}
                <span class="pull-right">
                  {{day.morning.from}} 
                  - 
                  <span *ngIf="day.noon">
                    {{day.morning.to}} {{'ADMINISTRATION.FORM.ADDITIONAL.HEADERSHOURS.AND' | translate}} {{day.afternoon.from}} - 
                  </span> {{day.afternoon.to}}
                </span>

              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="!model?.step1?.tradeName">
  <p>Veuillez d'abord ajouter votre entreprise -> Gérer</p>
</div>