<h1>Media</h1>

<br>
<label class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
  <label for="logo">Logo</label>
<input name="logo" id="logo" type="file" class="hidden" (change)="setLogo($event.target.files)" accept="image/*" />
<img *ngIf="data.logo" [src]="data.logo" class="col-lg-12 col-md-12" alt="Logo" style="border: 1px solid" />
<div *ngIf="!data.logo" style="border: 1px solid; height: 200px"> + </div>
</label>

<label class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
  <label for="avatar">Photo commerçant</label>
<input name="avatar" id="avatar" type="file" class="hidden" (change)="setAvatar($event.target.files)" accept="image/*" />
<img *ngIf="data.avatar" [src]="data.avatar" class="col-lg-12 col-md-12" alt="Avatar" style="border: 1px solid" />
<div *ngIf="!data.avatar" style="border: 1px solid; height: 200px"> + </div>
</label>
<div class="clearfix"></div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div>
    <label *ngFor="let picture of data.galery, let i = index" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <input name="i" id="i" type="file" class="hidden" (change)="setGalery($event.target.files, i)" accept="image/*" />
      <img [src]="picture" class="col-lg-12 col-md-12" alt="galery picture" style="border: 1px solid" />
    </label>
  </div>

  <label>
  <label for="galery">GalleriePhotos</label>
  <input name="galery" id="galery" type="file" class="hidden" (change)="addPictureToGalery($event.target.files)" accept="image/*"
  />
  <div style="border: 1px solid; height: 200px"> + </div>
  </label>
</div>


<div class="clearfix"></div>
<hr>

<div class="row">
  <button class="btn btn-primary btn-lg col-lg-3 col-md-3 col-sm-6 col-xs-6" (click)="goPrevious()">{{'ADMINISTRATION.FORM.PREVIOUS' | translate}}</button>
  <button class="btn btn-success btn-lg col-lg-3 col-md-3 col-sm-6 col-xs-6 pull-right" (click)="submit()">{{'ADMINISTRATION.FORM.NEXT' | translate}}</button>
</div>