<h2>{{'ADMINISTRATION.FORM.ADDITIONAL.TITLE' | translate}}</h2>
<form #additionalForm="ngForm" (ngSubmit)="additionalForm.valid && submit()">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <!-- TypeHour -->
        <label for="sector">{{'ADMINISTRATION.FORM.ADDITIONAL.TYPEHOUR.LABEL' | translate}}</label>
        <select class="form-control" id="typeHour" name="typeHour" [(ngModel)]="data.typeHour">
                <option value="open" selected>{{'ADMINISTRATION.FORM.ADDITIONAL.TYPEHOUR.OPENINGHOURS' | translate}}</option>
                <option value="close">{{'ADMINISTRATION.FORM.ADDITIONAL.TYPEHOUR.CLOSINGHOURS' | translate}}</option>
            </select>

        <br>

        <!-- HEADERS HOURS -->
        <div class="rox">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <p>{{'ADMINISTRATION.FORM.ADDITIONAL.HEADERSHOURS.DAY' | translate}}</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <p>{{'ADMINISTRATION.FORM.ADDITIONAL.HEADERSHOURS.FROM' | translate}}</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <p>{{'ADMINISTRATION.FORM.ADDITIONAL.HEADERSHOURS.TO' | translate}}</p>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <p>{{'ADMINISTRATION.FORM.ADDITIONAL.HEADERSHOURS.FROM' | translate}}</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <p>{{'ADMINISTRATION.FORM.ADDITIONAL.HEADERSHOURS.TO' | translate}}</p>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <p>{{'ADMINISTRATION.FORM.ADDITIONAL.HEADERSHOURS.APPT' | translate}}</p>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <p>{{'ADMINISTRATION.FORM.ADDITIONAL.HEADERSHOURS.NOON' | translate}}</p>
            </div>
        </div>

        <!-- Hours -->
        <div class="row" *ngFor="let day of data.week">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <label>{{day.label | translate}}</label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 no-padding">
                <input type="time" class="form-control" [name]="day.label + 'Mfr'" [id]="day.label+ 'Mfr'" placeholder="{{'ADMINISTRATION.FORM.ADDITIONAL.HEADERSHOURS.FROM' | translate}}"
                    [(ngModel)]="day.morning.from">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2  no-padding">
                <input type="time" class="form-control" [name]="day.label+ 'Mto'" [id]="day.label+ 'Mto'" placeholder="{{'ADMINISTRATION.FORM.ADDITIONAL.HEADERSHOURS.TO' | translate}}"
                    [(ngModel)]="day.morning.to" [disabled]="!day.noon">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <label>{{'ADMINISTRATION.FORM.ADDITIONAL.HEADERSHOURS.AND' | translate}}</label>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2  no-padding">
                <input type="time" class="form-control" [name]="day.label + 'Afr'" [id]="day.label+ 'Afr'" placeholder="{{'ADMINISTRATION.FORM.ADDITIONAL.HEADERSHOURS.FROM' | translate}}"
                    [(ngModel)]="day.afternoon.from" [disabled]="!day.noon">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2  no-padding">
                <input type="time" class="form-control" [name]="day.label + 'Ato'" [id]="day.label+ 'Ato'" placeholder="{{'ADMINISTRATION.FORM.ADDITIONAL.HEADERSHOURS.TO' | translate}}"
                    [(ngModel)]="day.afternoon.to">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <input type="checkbox" value="appt" [name]="day.label + 'APP'" [id]="day.label+ 'APP'" [(ngModel)]="day.attr">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                <input type="checkbox" value="noon" [name]="day.label + 'NOO'" [id]="day.label+ 'NOO'" [(ngModel)]="day.noon">
            </div>
        </div>

    </div>
    <div class="hidden-lg hidden-md clearfix"></div>
    <!-- Hollidays -->
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="form-group">
            <label>{{'ADMINISTRATION.FORM.ADDITIONAL.HOLIDAYS' | translate}}</label>

            <!-- Hollidays From -->
            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <label for="holidayFrom">{{'ADMINISTRATION.FORM.ADDITIONAL.HEADERSHOURS.FROM' | translate}}</label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="input-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <div class="icon-addon addon">
                            <input type="date" class="form-control" name="holidayFrom" id="holidayFrom" [(ngModel)]="data.holidayFrom">
                        </div>
                    </div>
                </div>

                <!-- Hollidays To -->
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <label>{{'ADMINISTRATION.FORM.ADDITIONAL.HEADERSHOURS.TO' | translate}}</label>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <div class="input-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <div class="icon-addon addon">
                            <input type="date" class="form-control" name="holidayTo" id="holidayTo" [(ngModel)]="data.holidayTo">
                        </div>
                    </div>
                </div>
            </div>

            <br>


            <!-- Comments -->
            <div class="form-group" [ngClass]="{'has-error': !holidayComment.valid && (!holidayComment.pristine || submitTried)}">
                <label for="holidayComment">{{'ADMINISTRATION.FORM.ADDITIONAL.HOLIDAYSCOMMENTS.LABEL' | translate}}</label>
                <input #holidayComment="ngModel" class="form-control" type="text" maxlength="50" id="holidayComment" name="holidayComment" placeholder="{{'ADMINISTRATION.FORM.ADDITIONAL.HOLIDAYSCOMMENTS.PLACEHOLDER' | translate}}"
                    [(ngModel)]="data.holidayComment">
            </div>

            <!-- Opening Sunday -->
            <div class="customCheckbox">
                <div class="customCheckbox-success">
                    <input type="checkbox" name="openingSunday" id="openingSunday" [(ngModel)]="data.openingSunday">
                    <label for="openingSunday">{{'ADMINISTRATION.FORM.ADDITIONAL.OPENINGSUNDAY' | translate}}</label>
                </div>
            </div>

            <!-- CTA Button -->
            <div class="form-group" [ngClass]="{'has-error': !CTAButton.valid && (!CTAButton.pristine || submitTried)}">
                <label for="CTAButton">{{'ADMINISTRATION.FORM.ADDITIONAL.CTABUTTON.LABEL' | translate}}</label>
                <input #CTAButton="ngModel" class="form-control" type="text" maxlength="20" id="CTAButton" name="CTAButton" placeholder="{{'ADMINISTRATION.FORM.ADDITIONAL.CTABUTTON.PLACEHOLDER' | translate}}"
                    value="{{'ADMINISTRATION.FORM.ADDITIONAL.CTABUTTON.VALUE' | translate}}" [(ngModel)]="data.CTAButton">
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    <div>
        <!-- Trader's message -->
        <label for="tradersMessage">{{'ADMINISTRATION.FORM.ADDITIONAL.TRADERSMESSAGE.LABEL' | translate}}</label>
        <textarea class="form-control" id="tradersMessage" name="tradersMessage" rows="6" placeholder="{{'ADMINISTRATION.FORM.ADDITIONAL.TRADERSMESSAGE.PLACEHOLDER' | translate}}"
            [(ngModel)]="data.tradersMessage"></textarea>

    </div>
    <hr>

    <div class="row">
        <button class="btn btn-primary btn-lg col-lg-3 col-md-3 col-sm-6 col-xs-6" (click)="goPrevious()">{{'ADMINISTRATION.FORM.PREVIOUS' | translate}}</button>
        <button class="btn btn-success btn-lg col-lg-3 col-md-3 col-sm-6 col-xs-6 pull-right"  type="submit" (click)="trySubmit()">{{'ADMINISTRATION.FORM.NEXT' | translate}}</button>
    </div>

</form>